body {
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #fff;
}

header, footer, nav, section {
    display: block;
}


/* Styles for basic forms
-----------------------------------------------------------*/
fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

.editor-label {
    margin: 1em 0 0 0;
}

.editor-field {
    margin: 0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}

div.event_holder {
    min-height: 126px;
    height: auto !important;
    background: #f4f4f4;
    margin: 0 0 1px 0;
    padding: 20px 0;
    position: relative;
    border-bottom: 1px solid #ddd;
    -webkit-transition: all .25s ease-in;
    -moz-transition: all .25s ease-in;
    -o-transition: all .25s ease-in;
    transition: all .25s ease-in;
}

    div.event_holder :active {
        -webkit-transition-duration: 0.5s; 
        -o-transition-duration: 0.5s; 
        -moz-transition-duration: 0.5s; 
        transition-duration: 0.5s;
        background-color: white;
    }

div.event_wrapper {
    width: 100%;
    max-width: 1000px;
    min-width: 400px;
    margin: 0 auto;
    padding: 0;
}

.entry_date {
    position: absolute;
    font-weight: normal;
    font-style: normal;
}

.event_wrapper h1 {
    padding-left: 167px;
    font-size: 1.6em;
    margin: 0;
    line-height: 1.2;
    font-weight: 900;
    padding-bottom: 12px;
}

div.category {
    float: none;
    clear: left;
    min-height: 20px;
    padding: 0 0 0 24px;
    padding-left: 167px;
}

time.icon
{
  font-size: 1em; /* change icon size */
  display: block;
  position: relative;
  width: 7em;
  height: 7em;
  background-color: #fff;
  border-radius: 0.6em;
  box-shadow: 0 1px 0 #bdbdbd, 0 2px 0 #fff, 0 3px 0 #bdbdbd, 0 4px 0 #fff, 0 5px 0 #bdbdbd, 0 0 0 1px #bdbdbd;
  overflow: hidden;
}

time.icon strong
{
  position: absolute;
  top: 0;
  padding: 0.4em 0;
  color: #fff;
  background-color: silver;
  border-bottom: 1px dashed snow;
  box-shadow: 0 2px 0 silver;
}

time.icon em
{
  position: absolute;
  bottom: 0.3em;
  color: gray;
}


time.icon span
{
  font-size: 2.8em;
  letter-spacing: -0.05em;
  padding-top: 0.8em;
  color: #2f2f2f;
  line-height: 1.2;
}

time.icon *
{
  display: block;
  width: 100%;
  font-size: 1em;
  font-weight: bold;
  font-style: normal;
  text-align: center;
}

#header .main-menu {
    width: 100%;
    z-index: 10;
    height: 100%;
}

.row {
    margin: 0 auto;
    width: 960px;
    display: flex;
    height: 100%;
    margin-bottom: 0px !important;
    display: block;
}

.grid_2 {
    margin: 0 20px 0 20px;
    float: left;
    display: inline;
}

.grid_btn {
    padding: 10px;
}

    .grid_btn:hover {
        background-color: #4d4d4d;
    }

.grid_10 {
    width: 960px;
    margin: 0 20px 0 20px;
    float: left;
    display: inline;
}

#header .logo {
    font-family: BrandonGrotesqueBoldRegular, Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    color: snow;
    letter-spacing: 2px;
    font-size: 16px;
    display: inline-block;
    text-decoration: none;
}

.menu-side {
    font-size: 0;
    text-align: right;
    vertical-align: top;
    position: relative;
    z-index: 500;
}

.menu-side li {
    font-size: 12px;
    line-height: 20px;
    text-align: left;
    margin: 0 20px;
    padding: 0;
    display: inline-block;
    position: relative;
    color: snow;
}

#header .main-menu .menu-side li a {
    font-size: 16px;
    text-decoration: none;
}

.menu-side li a {
    font-family: BrandonGrotesqueRegularRg, Helvetica, Arial, sans-serif;
    display: block;
    color: snow;
}

#header {
    height: 45px;
    background-color: #3d3d3e;
    position: fixed;
    z-index: 100;
    width: 100%;
    background: rgba(61,61,62,1);
background: -moz-linear-gradient(top, rgba(61,61,62,1) 15%, rgba(61,61,62,1) 16%, rgba(61,61,62,0.9) 60%, rgba(61,61,62,0.9) 90%, rgba(61,61,62,0.9) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(15%, rgba(61,61,62,1)), color-stop(16%, rgba(61,61,62,1)), color-stop(60%, rgba(61,61,62,0.9)), color-stop(90%, rgba(61,61,62,0.9)), color-stop(100%, rgba(61,61,62,0.9)));
background: -webkit-linear-gradient(top, rgba(61,61,62,1) 15%, rgba(61,61,62,1) 16%, rgba(61,61,62,0.9) 60%, rgba(61,61,62,0.9) 90%, rgba(61,61,62,0.9) 100%);
background: -o-linear-gradient(top, rgba(61,61,62,1) 15%, rgba(61,61,62,1) 16%, rgba(61,61,62,0.9) 60%, rgba(61,61,62,0.9) 90%, rgba(61,61,62,0.9) 100%);
background: -ms-linear-gradient(top, rgba(61,61,62,1) 15%, rgba(61,61,62,1) 16%, rgba(61,61,62,0.9) 60%, rgba(61,61,62,0.9) 90%, rgba(61,61,62,0.9) 100%);
background: linear-gradient(to bottom, rgba(61,61,62,1) 15%, rgba(61,61,62,1) 16%, rgba(61,61,62,0.9) 60%, rgba(61,61,62,0.9) 90%, rgba(61,61,62,0.9) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3d3d3e', endColorstr='#3d3d3e', GradientType=0 );
}

#LoginForm {
    width: 300px;
    margin: 0 auto;
}

.width100 {
    width: 80%;
    background-color: grey !important;
}

*, *:before, *:after {
    box-sizing: content-box !important;
}

.update {
    display: none;
}

i.small {
    font-size: 2rem;
    position: absolute;
    top: 120px;
    color: grey;
    cursor: pointer;
}

#create {
    position: fixed;
    width: 100%;
    bottom: 0px;
    background-color: white;
}

.create-content {
    padding: 10px;
    margin-bottom: 10px;
}

#create-button {
    float: right;
    margin-bottom: 15px;
    width: 140px;
}

.embed-nav a.active {
    background: #cccccc;
    color: #000000;
}

.embed-nav a {
    text-decoration: none;
    color: #76daff;
    display: inline-block;
    position: relative;
    padding: 8px 16px 8px;
}

.embed-nav a.active:after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    border-top: 8px solid #ccc;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    margin-left: -8px;
}

.icon {
    width: 52px;
    display: block;
}

.icon-tab {
    background-color: #3d3d3e;
    border-bottom-left-radius: 25px;
}
#globe {
   width: 12%;
}
#logo {
     position: absolute;
    top: -5%;
    left: 14%;
    color: grey;
    letter-spacing: 3px;
}
#logo:hover {
    color:white;
}
#donwload-icon {
    font-size: 50px;
}
li#menu-item-309 {
    font-size: 20px;
}
div.buttons {
    float:right;  
    font-size:15px;  
}
div.event_wrapper {
    height: 245px;
}
.event_wrapper h1 {
    font-size:2.1em;
    color:#00bcd4 ;
}
.category_links {
    font-size: 1.3em;
}
#admin-create {
    display:none;
    margin: 0 auto;
    width: 50%;
}
.create-button {
    float:right;
    margin:5px;
}
i.updateNews {
    font-size:5em;
    margin-left:11px;
}
i.login {
    color:grey;
}
i.print:hover {
    color:#00bcd4;
}
i.login:hover{
    color:white;
}
.logout:hover {
    color:#00bcd4;
}
.parallax img {
display:block;
}
#blur-container {
    background:url('../Content/images/city_bridge_rail_fog_blurred_glare_cars_traffic_47826_3840x2160.jpg') no-repeat;
    width:100%;
    height:907px;
}
#wrapper-form{
    width: 250px;
    height: 250px;
    position: absolute;
    top: 50%;
    left: 47%;
    margin: -125px 0 0 -125px;
}
