@model News.Business.ViewModels.AdminDataViewModel
@{
    ViewBag.Title = "Admin";
    
}
<div class="container">
    <div class="row">
        <h2>Hi Admin!</h2>

        <div>
            @foreach (var user in Model.Users)
            {
                <div class="row" style="margin-top: 40px">
                    @using (Html.BeginForm("UpdateUserRole", "Admin", FormMethod.Post))
                    {
                        var items = Model.Roles.OrderBy(c => c.Name)
        .Select(c => new SelectListItem { Value = c.Id, Text = c.Name, Selected = c.Name.Equals(user.Role.Name) }).ToArray();
                        @Html.AntiForgeryToken()
                        @Html.Hidden("userId", user.Id);
                        <div class="row" style="margin-left: 20px">@user.Email</div>
                        <div class="row input-field col s12">
                        
                        @Html.DropDownList("roleId", items)
                        </div>
                        <button class="btn waves-effect waves-light dark-blue-grey left" style="margin-left: 20px" type="submit">save</button>
                    }
                </div>
            }
        </div>
    </div>
</div>
