@model News.Business.ViewModels.FlexiPageDataModel
@{
    ViewBag.Title = "Admin";
}

<div class="event_holder">
    <div class="event_wrapper">
        @using (Html.BeginForm("CreateFlexiPage", "Admin", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            @Html.EditorForModel()
            <div>
                <button class="btn waves-effect cyan waves-light btn-right" type="submit">Cтворити</button>
                <button class="btn red darken-3 waves-effect waves-light btn-right decline-create" type="reset">Відмінити</button>
            </div>
        }
    </div>
</div>